<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090924979064-66l01v4c7f9md9pqrvioactsqnerri0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090924979064-66l01v4c7f9md9pqrvioactsqnerri0o</string>
	<key>API_KEY</key>
	<string>AIzaSyAPEEbAC93EP--gP984RFmRRSjBxdXVjDg</string>
	<key>GCM_SENDER_ID</key>
	<string>1090924979064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dougsimpsoncodes.myailandlord</string>
	<key>PROJECT_ID</key>
	<string>my-ai-landlord</string>
	<key>STORAGE_BUCKET</key>
	<string>my-ai-landlord.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090924979064:ios:0e888c7f4e97d0e0305e8d</string>
</dict>
</plist>